.speech{font-family: Arial, sans-serif;
     font-size:17px; 
     color:black;}

.direction{background-color: yellow;}

.direction:hover{background-color: beige;
color:darkred}


.name {
    font-weight: bold;
}
.gina{font-style:oblique; color:pink;}
.hedvig{font-style:italic; color:darkblue;}
.hjalmar{font-style:normal; color:green}

.q{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:medium;}

table{border:solid 3px;border-collapse:separate;text-align:center;
border-color:aquamarine;
margin: 20px auto; border-spacing:10px }

th, td{padding: 12px 15px;}